In [1]:
import serial

import numpy as np

import librosa

from keras.models import load_model

import pandas as pd

In [5]:
ser.close()

In [6]:
# 시리얼 포트 설정
ser = serial.Serial('COM5', 9600)  # COMX는 아두이노가 연결된 포트를 나타냅니다.

In [7]:
def extract_features(sample):
    feature_list = []
    for j in range(4):
        sub_sample = sample[j].flatten()
        mel_spectrogram = librosa.feature.melspectrogram(y=sub_sample, sr=49, n_fft=7, n_mels=7)
        log_mel_spectrogram = librosa.power_to_db(mel_spectrogram, ref=np.max)
        mfcc = librosa.feature.mfcc(S=log_mel_spectrogram, sr=49)
        
        feature = np.concatenate((log_mel_spectrogram.flatten(), mfcc.flatten()))
        feature_list.append(feature)
        
    return np.array(feature_list).reshape(1, 14, 4)

In [8]:
model_clf = load_model('siren_clf_model.h5')
model_loc = load_model('siren_loc_model.h5')

In [26]:
df = pd.DataFrame(columns=['x', 'y', 'dt'])
df.to_csv('audio_sensor_output.csv', index=None)

In [27]:
# 센서 온
state = 'mic_sen_on'
while state == 'mic_sen_on':
    
    # 인풋 받기
    input_list = []
    
    ser.readline()

    while len(input_list) < 4*49:
        str_values = ser.readline().decode('utf-8').strip().split(",")
        if len(str_values) < 5:
            input_list = []
            continue
        int_list = [int(str_value) for str_value in str_values[0:4]]
        for str_value in int_list:
            input_list.append(str_value)
        
    input_list = input_list[-49*4:]
    
    
    # 인풋 전처리
    x1 = np.array(input_list).reshape(7,7,4).astype(float).reshape(1, 7, 7, 4)
    x2 = extract_features(np.array(input_list).astype(float)).reshape(1, 1, 14, 4)
     
    print(len(input_list))    

    # 모델 추론
    clf_label = model_clf.predict([x1,x2])
    if clf_label[0][0] >= 0.49294052: #threshold
        loc_label = model_loc.predict([x1,x2])
        x, y = loc_label[0][0], loc_label[0][1]
        
        dt = ser.readline().decode('utf-8').strip().split(",")[4]
        df2 = pd.DataFrame([{'x':x, 'y':y, 'dt': dt}])
        df = pd.concat([df, df2], ignore_index=True)
        df.to_csv('audio_sensor_output.csv', index=None)
        
        print(df.iloc[-1,:])
    ser.readline()

196
1/1 [==============================] - ETA: 0s

C:\Users\chanj\.conda\envs\zolnon\lib\site-packages\librosa\core\spectrum.py:257: UserWarning: n_fft=7 is too large for input signal of length=1
  warnings.warn(

1/1 [==============================] - 0s 74ms/step
196
1/1 [==============================] - 0s 64ms/step
196
1/1 [==============================] - 0s 63ms/step
196
1/1 [==============================] - 0s 71ms/step
196
1/1 [==============================] - 0s 56ms/step
196
1/1 [==============================] - 0s 82ms/step
196
1/1 [==============================] - 0s 59ms/step
196
1/1 [==============================] - 0s 60ms/step
1/1 [==============================] - 0s 57ms/step
x      10.59734
y     10.457809
dt         8.48
Name: 0, dtype: object
196

C:\Users\chanj\AppData\Local\Temp\ipykernel_91680\194514340.py:36: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, df2], ignore_index=True)

1/1 [==============================] - 0s 69ms/step
196
1/1 [==============================] - 0s 58ms/step
1/1 [==============================] - 0s 127ms/step
x    -0.092467
y     4.140954
dt        8.26
Name: 1, dtype: object
196
1/1 [==============================] - 0s 63ms/step
196
1/1 [==============================] - 0s 59ms/step
196
1/1 [==============================] - 0s 55ms/step
1/1 [==============================] - 0s 63ms/step
x    -5.074342
y     6.907486
dt       19.13
Name: 2, dtype: object
196
1/1 [==============================] - 0s 65ms/step
196
1/1 [==============================] - 0s 54ms/step
196
1/1 [==============================] - 0s 53ms/step
1/1 [==============================] - 0s 65ms/step
x    -20.105547
y      4.724832
dt        45.36
Name: 3, dtype: object
196
1/1 [==============================] - 0s 68ms/step
196
1/1 [==============================] - 0s 57ms/step
1/1 [==============================] - 0s 65ms/step
x    -15.656099
y      7.655375
dt        58.41
Name: 4, dtype: object
196
1/1 [==============================] - 0s 54ms/step
196
1/1 [==============================] - 0s 71ms/step
196
1/1 [==============================] - 0s 58ms/step
196
1/1 [==============================] - 0s 56ms/step
196
1/1 [==============================] - 0s 61ms/step
1/1 [==============================] - 0s 64ms/step
x     13.907509
y      63.20681
dt         6.65
Name: 5, dtype: object
196
1/1 [==============================] - 0s 64ms/step
1/1 [==============================] - 0s 57ms/step
x     -33.39296
y     59.462715
dt         6.24
Name: 6, dtype: object
196
1/1 [==============================] - 0s 58ms/step
1/1 [==============================] - 0s 57ms/step
x     -9.005576
y     39.192345
dt         7.07
Name: 7, dtype: object
196
1/1 [==============================] - 0s 65ms/step
1/1 [==============================] - 0s 58ms/step
x    -15.607984
y     -1.546655
dt        65.26
Name: 8, dtype: object
196
1/1 [==============================] - 0s 56ms/step
1/1 [==============================] - 0s 72ms/step
x    -24.911921
y      8.999928
dt        79.61
Name: 9, dtype: object
196
1/1 [==============================] - 0s 68ms/step
1/1 [==============================] - 0s 56ms/step
x     2.242861
y     6.487667
dt       53.98
Name: 10, dtype: object
196
1/1 [==============================] - 0s 78ms/step
1/1 [==============================] - 0s 58ms/step
x     24.261883
y      27.93232
dt        73.19
Name: 11, dtype: object
196
1/1 [==============================] - 0s 75ms/step
196
1/1 [==============================] - 0s 64ms/step
1/1 [==============================] - 0s 56ms/step
x    -19.188505
y      8.698257
dt      2060.64
Name: 12, dtype: object
196
1/1 [==============================] - 0s 57ms/step
1/1 [==============================] - 0s 72ms/step
x    -8.338058
y     9.879477
dt       35.02
Name: 13, dtype: object
196
1/1 [==============================] - 0s 59ms/step
1/1 [==============================] - 0s 56ms/step
x    -9.678864
y      7.17093
dt       40.77
Name: 14, dtype: object
196
1/1 [==============================] - 0s 55ms/step
1/1 [==============================] - 0s 62ms/step
x    -13.655756
y       6.95255
dt        41.62
Name: 15, dtype: object
196
1/1 [==============================] - 0s 63ms/step
1/1 [==============================] - 0s 69ms/step
x    -10.581112
y     11.224833
dt        41.62
Name: 16, dtype: object
196
1/1 [==============================] - 0s 60ms/step
1/1 [==============================] - 0s 55ms/step
x    -9.200556
y     7.378853
dt       41.48
Name: 17, dtype: object
196
1/1 [==============================] - 0s 62ms/step
196
1/1 [==============================] - 0s 56ms/step
1/1 [==============================] - 0s 61ms/step
x    -18.540388
y     15.824357
dt        42.02
Name: 18, dtype: object
196
1/1 [==============================] - 0s 56ms/step
1/1 [==============================] - 0s 66ms/step
x     -13.3661
y     16.01684
dt       41.77
Name: 19, dtype: object
196
1/1 [==============================] - 0s 52ms/step
1/1 [==============================] - 0s 65ms/step
x    -3.559714
y     4.965652
dt       42.55
Name: 20, dtype: object
196
1/1 [==============================] - 0s 61ms/step
1/1 [==============================] - 0s 56ms/step
x    -2.600429
y     9.637851
dt       41.28
Name: 21, dtype: object
196
1/1 [==============================] - 0s 60ms/step
1/1 [==============================] - 0s 66ms/step
x    -14.471913
y     18.568779
dt        41.55
Name: 22, dtype: object
196
1/1 [==============================] - 0s 54ms/step
1/1 [==============================] - 0s 67ms/step
x    -3.768527
y     5.406134
dt       41.29
Name: 23, dtype: object
196
1/1 [==============================] - 0s 58ms/step
1/1 [==============================] - 0s 70ms/step
x    -13.967863
y     11.687877
dt        41.41
Name: 24, dtype: object
196
1/1 [==============================] - 0s 62ms/step
1/1 [==============================] - 0s 63ms/step
x      -5.59306
y     10.213106
dt        41.57
Name: 25, dtype: object
196
1/1 [==============================] - 0s 57ms/step
1/1 [==============================] - 0s 62ms/step
x    -6.389469
y     7.704103
dt       41.70
Name: 26, dtype: object
196
1/1 [==============================] - 0s 68ms/step
196
1/1 [==============================] - 0s 63ms/step
1/1 [==============================] - 0s 55ms/step
x    -4.336906
y     4.766883
dt       41.97
Name: 27, dtype: object
196
1/1 [==============================] - 0s 82ms/step
1/1 [==============================] - 0s 55ms/step
x     -6.407215
y     13.743382
dt        41.31
Name: 28, dtype: object
196
1/1 [==============================] - 0s 73ms/step
1/1 [==============================] - 0s 57ms/step
x    -16.981781
y     15.554923
dt        42.42
Name: 29, dtype: object
196
1/1 [==============================] - 0s 94ms/step
1/1 [==============================] - 0s 57ms/step
x     -3.487487
y     12.938558
dt        41.43
Name: 30, dtype: object
196
1/1 [==============================] - 0s 63ms/step
196
1/1 [==============================] - 0s 63ms/step
196
1/1 [==============================] - 0s 54ms/step
1/1 [==============================] - 0s 65ms/step
x    -10.97533
y     9.859114
dt       41.51
Name: 31, dtype: object
196
1/1 [==============================] - 0s 58ms/step
1/1 [==============================] - 0s 57ms/step
x    -12.748936
y     14.251799
dt        41.38
Name: 32, dtype: object
196
1/1 [==============================] - 0s 59ms/step
1/1 [==============================] - 0s 60ms/step
x    -2.938353
y     6.186616
dt       41.41
Name: 33, dtype: object
196
1/1 [==============================] - 0s 69ms/step
1/1 [==============================] - 0s 68ms/step
x    -17.639515
y     18.326767
dt        41.41
Name: 34, dtype: object
196
1/1 [==============================] - 0s 83ms/step
1/1 [==============================] - 0s 88ms/step
x    -19.070305
y     20.114635
dt        41.28
Name: 35, dtype: object
196
1/1 [==============================] - 0s 54ms/step
1/1 [==============================] - 0s 75ms/step
x    -9.043041
y     9.460655
dt       41.36
Name: 36, dtype: object
196
1/1 [==============================] - 0s 65ms/step
196
1/1 [==============================] - 0s 54ms/step
1/1 [==============================] - 0s 80ms/step
x     19.537857
y     13.082674
dt        42.09
Name: 37, dtype: object
196
1/1 [==============================] - 0s 81ms/step
1/1 [==============================] - 0s 64ms/step
x    -15.275174
y      23.72089
dt        41.63
Name: 38, dtype: object
196
1/1 [==============================] - 0s 53ms/step
1/1 [==============================] - 0s 62ms/step
x    -16.643021
y     18.049791
dt        41.53
Name: 39, dtype: object
196
1/1 [==============================] - 0s 57ms/step
1/1 [==============================] - 0s 71ms/step
x    -13.640728
y     24.144459
dt        41.51
Name: 40, dtype: object
196
1/1 [==============================] - 0s 52ms/step
1/1 [==============================] - 0s 70ms/step
x    -8.812538
y     7.692036
dt       41.53
Name: 41, dtype: object

196
1/1 [==============================] - 0s 60ms/step
1/1 [==============================] - 0s 61ms/step
x    -8.327643
y      8.52897
dt       41.99
Name: 42, dtype: object
196
1/1 [==============================] - 0s 60ms/step
1/1 [==============================] - 0s 68ms/step
x      -11.5771
y     15.949413
dt        41.77
Name: 43, dtype: object
196
1/1 [==============================] - 0s 54ms/step
1/1 [==============================] - 0s 77ms/step
x    -18.838116
y     24.367313
dt        42.62
Name: 44, dtype: object
196
1/1 [==============================] - 0s 52ms/step
1/1 [==============================] - 0s 73ms/step
x    -13.157707
y     11.443184
dt        42.04
Name: 45, dtype: object
196
1/1 [==============================] - 0s 66ms/step
1/1 [==============================] - 0s 71ms/step
x    -11.669882
y      12.60118
dt        41.65
Name: 46, dtype: object
196
1/1 [==============================] - 0s 48ms/step
1/1 [==============================] - 0s 62ms/step
x    -11.061065
y      13.75247
dt        42.08
Name: 47, dtype: object
196
1/1 [==============================] - 0s 52ms/step
1/1 [==============================] - 0s 58ms/step
x     -6.306453
y     10.136843
dt        42.82
Name: 48, dtype: object
196
1/1 [==============================] - 0s 70ms/step
1/1 [==============================] - 0s 67ms/step
x    -9.203984
y     7.943216
dt       41.70
Name: 49, dtype: object
196
1/1 [==============================] - 0s 71ms/step
1/1 [==============================] - 0s 69ms/step
x    -16.289164
y     19.756807
dt        41.55
Name: 50, dtype: object
196
1/1 [==============================] - 0s 54ms/step
1/1 [==============================] - 0s 63ms/step
x     -8.018627
y     19.497673
dt        41.91
Name: 51, dtype: object
196
1/1 [==============================] - 0s 62ms/step
1/1 [==============================] - 0s 55ms/step
x    -10.631198
y      9.737978
dt        41.91
Name: 52, dtype: object
196
1/1 [==============================] - 0s 62ms/step
1/1 [==============================] - 0s 56ms/step
x    -11.182236
y     13.944118
dt        43.06
Name: 53, dtype: object
196
1/1 [==============================] - 0s 117ms/step
1/1 [==============================] - 0s 63ms/step
x     -5.196962
y     15.235368
dt        41.68
Name: 54, dtype: object
196
1/1 [==============================] - 0s 52ms/step
1/1 [==============================] - 0s 60ms/step
x    -9.243104
y     10.37992
dt       42.79
Name: 55, dtype: object
196
1/1 [==============================] - 0s 56ms/step
1/1 [==============================] - 0s 62ms/step
x     -6.998771
y     15.994851
dt        41.48
Name: 56, dtype: object
196
1/1 [==============================] - 0s 57ms/step
1/1 [==============================] - 0s 74ms/step
x    -11.951532
y     17.185627
dt        42.45
Name: 57, dtype: object
196
1/1 [==============================] - 0s 92ms/step
1/1 [==============================] - 0s 70ms/step
x    -3.989821
y     9.021626
dt       41.79
Name: 58, dtype: object
196
1/1 [==============================] - 0s 63ms/step
1/1 [==============================] - 0s 69ms/step
x    -11.417193
y     19.365925
dt        41.75
Name: 59, dtype: object
196
1/1 [==============================] - 0s 62ms/step
1/1 [==============================] - 0s 84ms/step
x    -4.531666
y     8.415038
dt       41.77
Name: 60, dtype: object
196
1/1 [==============================] - 0s 69ms/step
196
1/1 [==============================] - 0s 56ms/step
1/1 [==============================] - 0s 55ms/step
x     -16.99526
y     14.668903
dt        41.65
Name: 61, dtype: object
196
1/1 [==============================] - 0s 70ms/step
1/1 [==============================] - 0s 62ms/step
x    -16.300474
y     18.207443
dt        41.41
Name: 62, dtype: object
196
1/1 [==============================] - 0s 56ms/step
1/1 [==============================] - 0s 56ms/step
x    -6.161231
y     9.155296
dt       41.26
Name: 63, dtype: object
196
1/1 [==============================] - 0s 132ms/step
1/1 [==============================] - 0s 64ms/step
x    -14.933165
y     16.318768
dt        41.50
Name: 64, dtype: object
196
1/1 [==============================] - 0s 54ms/step
1/1 [==============================] - 0s 56ms/step
x     -8.28587
y     9.165224
dt       41.48
Name: 65, dtype: object
196
1/1 [==============================] - 0s 60ms/step
1/1 [==============================] - 0s 61ms/step
x    -3.836095
y     5.136307
dt       42.89
Name: 66, dtype: object
196
1/1 [==============================] - 0s 54ms/step
1/1 [==============================] - 0s 65ms/step
x    -0.011934
y     5.169944
dt       41.60
Name: 67, dtype: object
196
1/1 [==============================] - 0s 56ms/step
1/1 [==============================] - 0s 73ms/step
x     -9.392229
y     12.830942
dt        41.31
Name: 68, dtype: object
196
1/1 [==============================] - 0s 51ms/step
1/1 [==============================] - 0s 64ms/step
x      -9.35396
y     14.125645
dt        41.26
Name: 69, dtype: object
196
1/1 [==============================] - 0s 55ms/step
1/1 [==============================] - 0s 67ms/step
x      -9.91243
y     11.257826
dt        42.13
Name: 70, dtype: object
196
1/1 [==============================] - 0s 52ms/step
1/1 [==============================] - 0s 67ms/step
x     -1.613686
y     13.160897
dt        41.62
Name: 71, dtype: object
196
1/1 [==============================] - 0s 62ms/step
1/1 [==============================] - 0s 62ms/step
x    -0.944418
y     9.387787
dt       42.43
Name: 72, dtype: object
196
1/1 [==============================] - 0s 63ms/step
1/1 [==============================] - 0s 58ms/step
x     -7.381563
y     14.231267
dt        42.35
Name: 73, dtype: object
196
1/1 [==============================] - 0s 167ms/step
1/1 [==============================] - 0s 57ms/step
x    -7.770456
y     6.785686
dt       41.74
Name: 74, dtype: object
196
1/1 [==============================] - 0s 68ms/step
1/1 [==============================] - 0s 77ms/step
x    -5.626425
y     6.751724
dt       41.57
Name: 75, dtype: object
196
1/1 [==============================] - 0s 59ms/step
1/1 [==============================] - 0s 64ms/step
x      -5.73317
y     10.914879
dt        41.24
Name: 76, dtype: object
196
1/1 [==============================] - 0s 59ms/step
1/1 [==============================] - 0s 67ms/step
x     -8.196507
y     12.807544
dt        41.53
Name: 77, dtype: object
196
1/1 [==============================] - 0s 57ms/step
1/1 [==============================] - 0s 68ms/step
x      -7.79529
y     13.528313
dt        41.68
Name: 78, dtype: object
196
1/1 [==============================] - 0s 56ms/step
1/1 [==============================] - 0s 70ms/step
x    -2.671696
y     6.312278
dt       42.93
Name: 79, dtype: object
196
1/1 [==============================] - 0s 54ms/step
1/1 [==============================] - 0s 65ms/step
x    -9.630116
y     12.31086
dt       41.67
Name: 80, dtype: object
196
1/1 [==============================] - 0s 55ms/step
1/1 [==============================] - 0s 73ms/step
x    -5.914947
y     13.00083
dt       41.31
Name: 81, dtype: object
196
1/1 [==============================] - 0s 68ms/step
1/1 [==============================] - 0s 67ms/step
x     -9.693064
y     12.985808
dt        41.75
Name: 82, dtype: object
196
1/1 [==============================] - 0s 65ms/step
1/1 [==============================] - 0s 59ms/step
x    -14.272029
y     12.745791
dt        41.23
Name: 83, dtype: object
196
1/1 [==============================] - 0s 70ms/step
1/1 [==============================] - 0s 60ms/step
x    -2.620177
y     6.466444
dt       41.74
Name: 84, dtype: object
196
1/1 [==============================] - 0s 53ms/step
196
1/1 [==============================] - 0s 57ms/step
1/1 [==============================] - 0s 65ms/step
x    -7.202684
y     9.979624
dt       41.63
Name: 85, dtype: object
196
1/1 [==============================] - 0s 54ms/step
1/1 [==============================] - 0s 67ms/step
x    -6.263194
y      7.83171
dt       41.40
Name: 86, dtype: object
196

1/1 [==============================] - 0s 52ms/step
1/1 [==============================] - 0s 58ms/step
x    -10.960816
y     13.117962
dt        41.65
Name: 87, dtype: object
196
1/1 [==============================] - 0s 93ms/step
1/1 [==============================] - 0s 62ms/step
x    -14.601097
y     16.993378
dt        41.79
Name: 88, dtype: object
196
1/1 [==============================] - 0s 61ms/step
1/1 [==============================] - 0s 79ms/step
x    -3.995613
y     7.829129
dt       41.36
Name: 89, dtype: object
196
1/1 [==============================] - 0s 55ms/step
1/1 [==============================] - 0s 70ms/step
x     -4.984039
y     10.395186
dt        41.77
Name: 90, dtype: object
196
1/1 [==============================] - 0s 52ms/step
1/1 [==============================] - 0s 77ms/step
x    -11.087625
y     14.076235
dt        42.21
Name: 91, dtype: object
196
1/1 [==============================] - 0s 58ms/step
1/1 [==============================] - 0s 61ms/step
x    -10.388585
y     16.721964
dt        41.77
Name: 92, dtype: object
196
1/1 [==============================] - 0s 65ms/step
1/1 [==============================] - 0s 58ms/step
x     -8.213499
y     18.523724
dt        41.74
Name: 93, dtype: object
196
1/1 [==============================] - 0s 63ms/step
1/1 [==============================] - 0s 56ms/step
x    -4.356497
y     5.832461
dt       41.45
Name: 94, dtype: object
196
1/1 [==============================] - 0s 61ms/step
196
1/1 [==============================] - 0s 68ms/step
1/1 [==============================] - 0s 60ms/step
x     -3.346334
y     17.077484
dt        41.60
Name: 95, dtype: object
196
1/1 [==============================] - 0s 86ms/step
1/1 [==============================] - 0s 60ms/step
x    -2.657376
y     7.648072
dt       41.77
Name: 96, dtype: object
196
1/1 [==============================] - 0s 57ms/step
1/1 [==============================] - 0s 57ms/step
x    -2.255737
y     5.817433
dt       42.59
Name: 97, dtype: object
196
1/1 [==============================] - 0s 77ms/step
1/1 [==============================] - 0s 58ms/step
x     -2.432447
y     10.253265
dt        41.77
Name: 98, dtype: object
196
1/1 [==============================] - 0s 73ms/step
1/1 [==============================] - 0s 57ms/step
x     -5.440214
y     10.273125
dt        41.77
Name: 99, dtype: object
196
1/1 [==============================] - 0s 65ms/step
1/1 [==============================] - 0s 56ms/step
x    -6.420184
y     9.753933
dt       41.62
Name: 100, dtype: object
196
1/1 [==============================] - 0s 61ms/step
1/1 [==============================] - 0s 57ms/step
x     -3.299622
y     13.164273
dt        41.75
Name: 101, dtype: object
196
1/1 [==============================] - 0s 65ms/step
1/1 [==============================] - 0s 56ms/step
x    -1.877316
y     9.843815
dt       42.36
Name: 102, dtype: object
196
1/1 [==============================] - 0s 69ms/step
1/1 [==============================] - 0s 56ms/step
x     -9.891347
y     15.151468
dt        42.02
Name: 103, dtype: object
196
1/1 [==============================] - 0s 60ms/step
1/1 [==============================] - 0s 64ms/step
x    -5.182781
y     5.929652
dt       41.60
Name: 104, dtype: object
196
1/1 [==============================] - 0s 56ms/step
1/1 [==============================] - 0s 63ms/step
x     9.710662
y     9.088773
dt       41.77
Name: 105, dtype: object
196
1/1 [==============================] - 0s 55ms/step
1/1 [==============================] - 0s 65ms/step
x    -5.561244
y     9.168619
dt       42.16
Name: 106, dtype: object
196
1/1 [==============================] - 0s 64ms/step
1/1 [==============================] - 0s 56ms/step
x      -6.90817
y     11.523914
dt        41.80
Name: 107, dtype: object
196
1/1 [==============================] - 0s 67ms/step
1/1 [==============================] - 0s 56ms/step
x    -1.909667
y     6.185698
dt       41.60
Name: 108, dtype: object
196
1/1 [==============================] - 0s 60ms/step
1/1 [==============================] - 0s 55ms/step
x      -7.90008
y     10.226944
dt        41.75
Name: 109, dtype: object
196
1/1 [==============================] - 0s 75ms/step
1/1 [==============================] - 0s 58ms/step
x     -4.016459
y     11.174832
dt        42.13
Name: 110, dtype: object
196
1/1 [==============================] - 0s 73ms/step
1/1 [==============================] - 0s 56ms/step
x     -4.479856
y     12.861362
dt        42.59
Name: 111, dtype: object
196
1/1 [==============================] - 0s 65ms/step
1/1 [==============================] - 0s 63ms/step
x    -7.546402
y      10.0077
dt       41.60
Name: 112, dtype: object
196
1/1 [==============================] - 0s 108ms/step
1/1 [==============================] - 0s 60ms/step
x    -3.098186
y     8.863697
dt       41.77
Name: 113, dtype: object
196
1/1 [==============================] - 0s 56ms/step
1/1 [==============================] - 0s 63ms/step
x     -2.683173
y     12.155003
dt        42.64
Name: 114, dtype: object
196
1/1 [==============================] - 0s 54ms/step
1/1 [==============================] - 0s 64ms/step
x     -7.212844
y     15.022849
dt        42.23
Name: 115, dtype: object
196
1/1 [==============================] - 0s 58ms/step
1/1 [==============================] - 0s 67ms/step
x      -5.1092
y     8.006046
dt       42.21
Name: 116, dtype: object
196
1/1 [==============================] - 0s 73ms/step
1/1 [==============================] - 0s 75ms/step
x     -4.613101
y     10.809566
dt        41.77
Name: 117, dtype: object
196
1/1 [==============================] - 0s 65ms/step
1/1 [==============================] - 0s 59ms/step
x     -2.344128
y     10.952817
dt        41.50
Name: 118, dtype: object
196
1/1 [==============================] - 0s 63ms/step
1/1 [==============================] - 0s 58ms/step
x      -6.79564
y     18.928946
dt        42.87
Name: 119, dtype: object
196
1/1 [==============================] - 0s 71ms/step
1/1 [==============================] - 0s 57ms/step
x    -15.173919
y     17.507935
dt        41.75
Name: 120, dtype: object
196
1/1 [==============================] - 0s 67ms/step
1/1 [==============================] - 0s 65ms/step
x      -5.75403
y     11.687037
dt        42.62
Name: 121, dtype: object
196
1/1 [==============================] - 0s 65ms/step
1/1 [==============================] - 0s 65ms/step
x    -2.190094
y      14.0701
dt       42.48
Name: 122, dtype: object
196
1/1 [==============================] - 0s 63ms/step
1/1 [==============================] - 0s 55ms/step
x     -6.640644
y     14.725914
dt        42.62
Name: 123, dtype: object
196
1/1 [==============================] - 0s 73ms/step
1/1 [==============================] - 0s 59ms/step
x    -5.167602
y     8.262522
dt       41.79
Name: 124, dtype: object
196
1/1 [==============================] - 0s 67ms/step
1/1 [==============================] - 0s 61ms/step
x     -3.182623
y     11.615707
dt        42.65
Name: 125, dtype: object
196
1/1 [==============================] - 0s 77ms/step
1/1 [==============================] - 0s 59ms/step
x     -2.84592
y     6.041047
dt       41.38
Name: 126, dtype: object
196
1/1 [==============================] - 0s 55ms/step
1/1 [==============================] - 0s 65ms/step
x     -6.067136
y     17.004271
dt        42.65
Name: 127, dtype: object
196
1/1 [==============================] - 0s 59ms/step
1/1 [==============================] - 0s 64ms/step
x    -8.554758
y     8.598263
dt       41.67
Name: 128, dtype: object
196
1/1 [==============================] - 0s 56ms/step
1/1 [==============================] - 0s 62ms/step
x     -4.643065
y     10.730234
dt        41.79
Name: 129, dtype: object
196
1/1 [==============================] - 0s 104ms/step
1/1 [==============================] - 0s 63ms/step
x    -6.852621
y     9.664524
dt       41.65
Name: 130, dtype: object
196
1/1 [==============================] - 0s 60ms/step
1/1 [==============================] - 0s 90ms/step
x     -5.315132
y     11.722223
dt        41.80
Name: 131, dtype: object
196
1/1 [==============================] - 0s 54ms/step

1/1 [==============================] - 0s 70ms/step
x    -7.774956
y     8.409494
dt       41.40
Name: 132, dtype: object
196
1/1 [==============================] - 0s 56ms/step
1/1 [==============================] - 0s 66ms/step
x     -8.862362
y     14.031417
dt        41.79
Name: 133, dtype: object
196
1/1 [==============================] - 0s 57ms/step
1/1 [==============================] - 0s 66ms/step
x    -1.824152
y     9.492211
dt       41.80
Name: 134, dtype: object
196
1/1 [==============================] - 0s 51ms/step
1/1 [==============================] - 0s 60ms/step
x     -6.317904
y     10.306916
dt        41.80
Name: 135, dtype: object
196
1/1 [==============================] - 0s 69ms/step
1/1 [==============================] - 0s 61ms/step
x    -4.515025
y     7.555483
dt       41.65
Name: 136, dtype: object
196
1/1 [==============================] - 0s 77ms/step
1/1 [==============================] - 0s 62ms/step
x    -4.121974
y     9.210741
dt       42.65
Name: 137, dtype: object
196
1/1 [==============================] - 0s 74ms/step
1/1 [==============================] - 0s 57ms/step
x     -5.571211
y     11.582311
dt        41.67
Name: 138, dtype: object
196
1/1 [==============================] - 0s 66ms/step
1/1 [==============================] - 0s 59ms/step
x     -3.412641
y     11.515587
dt        41.79
Name: 139, dtype: object
196
1/1 [==============================] - 0s 64ms/step
1/1 [==============================] - 0s 62ms/step
x     -4.736593
y     11.570713
dt        41.79
Name: 140, dtype: object
196
1/1 [==============================] - 0s 70ms/step
1/1 [==============================] - 0s 56ms/step
x     -6.716931
y     12.007758
dt        41.80
Name: 141, dtype: object
196
1/1 [==============================] - 0s 66ms/step
1/1 [==============================] - 0s 55ms/step
x     -4.389137
y     10.744847
dt        42.38
Name: 142, dtype: object
196
1/1 [==============================] - 0s 69ms/step
1/1 [==============================] - 0s 59ms/step
x     -1.765314
y     11.498152
dt        42.67
Name: 143, dtype: object
196
1/1 [==============================] - 0s 68ms/step
1/1 [==============================] - 0s 57ms/step
x    -7.379733
y     10.43318
dt       42.65
Name: 144, dtype: object
196
1/1 [==============================] - 0s 66ms/step
1/1 [==============================] - 0s 59ms/step
x    -3.233986
y     7.110009
dt       42.65
Name: 145, dtype: object
196
1/1 [==============================] - 0s 57ms/step
1/1 [==============================] - 0s 63ms/step
x    -6.237408
y     8.950024
dt       41.79
Name: 146, dtype: object
196
1/1 [==============================] - 0s 54ms/step
1/1 [==============================] - 0s 68ms/step
x     -3.933326
y     13.840217
dt        41.80
Name: 147, dtype: object
196
1/1 [==============================] - 0s 65ms/step
1/1 [==============================] - 0s 61ms/step
x    -3.662796
y     6.234107
dt       42.65
Name: 148, dtype: object
196
1/1 [==============================] - 0s 58ms/step
1/1 [==============================] - 0s 56ms/step
x     -8.737997
y     12.561992
dt        42.50
Name: 149, dtype: object
196
1/1 [==============================] - 0s 59ms/step
1/1 [==============================] - 0s 61ms/step
x    -4.114928
y     14.99759
dt       41.79
Name: 150, dtype: object
196
1/1 [==============================] - 0s 53ms/step
1/1 [==============================] - 0s 64ms/step
x    -6.563988
y     9.082593
dt       42.65
Name: 151, dtype: object
196
1/1 [==============================] - 0s 55ms/step
1/1 [==============================] - 0s 73ms/step
x     -8.224973
y     11.233196
dt        42.23
Name: 152, dtype: object
196
1/1 [==============================] - 0s 51ms/step
1/1 [==============================] - 0s 66ms/step
x    -11.353787
y     13.096357
dt        42.19
Name: 153, dtype: object
196
1/1 [==============================] - 0s 90ms/step
1/1 [==============================] - 0s 63ms/step
x    -9.509189
y     19.45533
dt       41.77
Name: 154, dtype: object
196
1/1 [==============================] - 0s 69ms/step
1/1 [==============================] - 0s 70ms/step
x     -8.944818
y     12.867204
dt        41.79
Name: 155, dtype: object
196
1/1 [==============================] - 0s 61ms/step
1/1 [==============================] - 0s 60ms/step
x    -6.489167
y     9.680725
dt       42.52
Name: 156, dtype: object
196
1/1 [==============================] - 0s 54ms/step
1/1 [==============================] - 0s 70ms/step
x    -10.639717
y     13.769059
dt        41.79
Name: 157, dtype: object
196
1/1 [==============================] - 0s 52ms/step
1/1 [==============================] - 0s 76ms/step
x     -3.949449
y     10.745348
dt        41.63
Name: 158, dtype: object
196
1/1 [==============================] - 0s 61ms/step
1/1 [==============================] - 0s 69ms/step
x     -5.24788
y     9.613268
dt       42.52
Name: 159, dtype: object
196
1/1 [==============================] - 0s 54ms/step
1/1 [==============================] - 0s 63ms/step
x    -4.257118
y     8.883503
dt       42.64
Name: 160, dtype: object
196
1/1 [==============================] - 0s 54ms/step
1/1 [==============================] - 0s 63ms/step
x    -10.928804
y     13.456073
dt        42.64
Name: 161, dtype: object
196
1/1 [==============================] - 0s 67ms/step
1/1 [==============================] - 0s 70ms/step
x     -3.431964
y     10.028305
dt        41.79
Name: 162, dtype: object
196
1/1 [==============================] - 0s 66ms/step
1/1 [==============================] - 0s 62ms/step
x    -4.133725
y     8.778922
dt       42.52
Name: 163, dtype: object
196
1/1 [==============================] - 0s 66ms/step
1/1 [==============================] - 0s 58ms/step
x    -4.231136
y     7.942917
dt       41.80
Name: 164, dtype: object
196
1/1 [==============================] - 0s 64ms/step
1/1 [==============================] - 0s 57ms/step
x    -4.296203
y     9.996228
dt       42.65
Name: 165, dtype: object
196
1/1 [==============================] - 0s 56ms/step
1/1 [==============================] - 0s 73ms/step
x     -4.154953
y     14.006857
dt        41.79
Name: 166, dtype: object
196
1/1 [==============================] - 0s 54ms/step
1/1 [==============================] - 0s 73ms/step
x     -4.09792
y     8.581116
dt       43.06
Name: 167, dtype: object
196
1/1 [==============================] - 0s 56ms/step
1/1 [==============================] - 0s 69ms/step
x    -2.430061
y      7.71209
dt       42.65
Name: 168, dtype: object
196
1/1 [==============================] - 0s 53ms/step
1/1 [==============================] - 0s 143ms/step
x     -7.037241
y     12.175731
dt        41.80
Name: 169, dtype: object
196
1/1 [==============================] - 0s 67ms/step
1/1 [==============================] - 0s 59ms/step
x     -6.479323
y     15.519353
dt        41.79
Name: 170, dtype: object
196
1/1 [==============================] - 0s 62ms/step
1/1 [==============================] - 0s 55ms/step
x    -3.910978
y     9.420952
dt       42.65
Name: 171, dtype: object
196
1/1 [==============================] - 0s 60ms/step
1/1 [==============================] - 0s 57ms/step
x    -6.199238
y     8.809095
dt       42.23
Name: 172, dtype: object
196
1/1 [==============================] - 0s 55ms/step
1/1 [==============================] - 0s 59ms/step
x    -5.492395
y     8.899416
dt       42.09
Name: 173, dtype: object
196
1/1 [==============================] - 0s 96ms/step
1/1 [==============================] - 0s 57ms/step
x     -5.226767
y     11.586977
dt        41.82
Name: 174, dtype: object
196
1/1 [==============================] - 0s 68ms/step
1/1 [==============================] - 0s 54ms/step
x      -6.74471
y     11.713932
dt        42.23
Name: 175, dtype: object
196
1/1 [==============================] - 0s 69ms/step
1/1 [==============================] - 0s 55ms/step
x    -9.305176
y     9.109365
dt       42.65
Name: 176, dtype: object
196
1/1 [==============================] - 0s 75ms/step
1/1 [==============================] - 0s 61ms/step
x     -6.162076
y     10.044735
dt        41.80
Name: 177, dtype: object

196
1/1 [==============================] - 0s 67ms/step
1/1 [==============================] - 0s 61ms/step
x     -6.938018
y     14.432161
dt        42.53
Name: 178, dtype: object
196
1/1 [==============================] - 0s 56ms/step
1/1 [==============================] - 0s 76ms/step
x     -4.659646
y     14.704596
dt        41.67
Name: 179, dtype: object
196
1/1 [==============================] - 0s 67ms/step
1/1 [==============================] - 0s 118ms/step
x     -8.658721
y     11.427488
dt        41.80
Name: 180, dtype: object
196
1/1 [==============================] - 0s 53ms/step
1/1 [==============================] - 0s 88ms/step
x     -7.696116
y     11.306825
dt        43.08
Name: 181, dtype: object
196
1/1 [==============================] - 0s 59ms/step
1/1 [==============================] - 0s 69ms/step
x    -5.509391
y     9.355204
dt       42.64
Name: 182, dtype: object
196
1/1 [==============================] - 0s 58ms/step
1/1 [==============================] - 0s 58ms/step
x     -6.234849
y     11.144403
dt        41.80
Name: 183, dtype: object
196
1/1 [==============================] - 0s 63ms/step
1/1 [==============================] - 0s 55ms/step
x    -5.074156
y     7.462153
dt       42.64
Name: 184, dtype: object
196
1/1 [==============================] - 0s 73ms/step
1/1 [==============================] - 0s 60ms/step
x     -2.167366
y     10.249973
dt        42.65
Name: 185, dtype: object
196
1/1 [==============================] - 0s 59ms/step
1/1 [==============================] - 0s 60ms/step
x      -2.39773
y     11.183733
dt        41.80
Name: 186, dtype: object
196
1/1 [==============================] - 0s 63ms/step
1/1 [==============================] - 0s 55ms/step
x     -1.977139
y     12.960047
dt        41.80
Name: 187, dtype: object
196
1/1 [==============================] - 0s 69ms/step
1/1 [==============================] - 0s 58ms/step
x    -3.218073
y     7.178283
dt       41.67
Name: 188, dtype: object
196
1/1 [==============================] - 0s 64ms/step
1/1 [==============================] - 0s 56ms/step
x    -3.251442
y     10.23665
dt       41.77
Name: 189, dtype: object
196
1/1 [==============================] - 0s 93ms/step
1/1 [==============================] - 0s 56ms/step
x     -1.220241
y     10.720423
dt        42.23
Name: 190, dtype: object
196
1/1 [==============================] - 0s 70ms/step
1/1 [==============================] - 0s 55ms/step
x    -0.978954
y     9.593769
dt       43.08
Name: 191, dtype: object
196
1/1 [==============================] - 0s 53ms/step
1/1 [==============================] - 0s 61ms/step
x    -0.372915
y     8.966118
dt       41.77
Name: 192, dtype: object
196
1/1 [==============================] - 0s 55ms/step
1/1 [==============================] - 0s 62ms/step
x    -3.798574
y     9.687532
dt       41.82
Name: 193, dtype: object
196
1/1 [==============================] - 0s 74ms/step
1/1 [==============================] - 0s 73ms/step
x     -2.107911
y     11.094706
dt        41.80
Name: 194, dtype: object
196
1/1 [==============================] - 0s 54ms/step
1/1 [==============================] - 0s 63ms/step
x     -2.175871
y     10.109758
dt        41.80
Name: 195, dtype: object
196
1/1 [==============================] - 0s 61ms/step
1/1 [==============================] - 0s 73ms/step
x    -3.804575
y     8.621891
dt       42.93
Name: 196, dtype: object
196
1/1 [==============================] - 0s 55ms/step
1/1 [==============================] - 0s 67ms/step
x     -2.07309
y     6.333664
dt       42.65
Name: 197, dtype: object
196
1/1 [==============================] - 0s 58ms/step
1/1 [==============================] - 0s 67ms/step
x     -2.312192
y     11.651112
dt        41.65
Name: 198, dtype: object
196
1/1 [==============================] - 0s 53ms/step
1/1 [==============================] - 0s 63ms/step
x    -1.765435
y     9.447714
dt       42.67
Name: 199, dtype: object
196
1/1 [==============================] - 0s 56ms/step
1/1 [==============================] - 0s 62ms/step
x    -3.555466
y     8.706472
dt       41.80
Name: 200, dtype: object
196
1/1 [==============================] - 0s 56ms/step
1/1 [==============================] - 0s 61ms/step
x    -5.099089
y     8.241627
dt       41.80
Name: 201, dtype: object
196
1/1 [==============================] - 0s 65ms/step
1/1 [==============================] - 0s 59ms/step
x     -6.749901
y     13.064758
dt        41.68
Name: 202, dtype: object
196
1/1 [==============================] - 0s 63ms/step
1/1 [==============================] - 0s 54ms/step
x     -1.821027
y     11.734404
dt        41.65
Name: 203, dtype: object
196
1/1 [==============================] - 0s 57ms/step
1/1 [==============================] - 0s 70ms/step
x     -4.27215
y     7.473807
dt       41.82
Name: 204, dtype: object
196
1/1 [==============================] - 0s 54ms/step
1/1 [==============================] - 0s 75ms/step
x      -5.91184
y     13.974536
dt        42.23
Name: 205, dtype: object
196
1/1 [==============================] - 0s 66ms/step
1/1 [==============================] - 0s 122ms/step
x       -3.1957
y     11.622622
dt        42.64
Name: 206, dtype: object
196
1/1 [==============================] - 0s 69ms/step
1/1 [==============================] - 0s 62ms/step
x     -2.512362
y     11.256466
dt        42.67
Name: 207, dtype: object
196
1/1 [==============================] - 0s 60ms/step
1/1 [==============================] - 0s 58ms/step
x    -3.058638
y     9.032768
dt       41.65
Name: 208, dtype: object
196
1/1 [==============================] - 0s 62ms/step
1/1 [==============================] - 0s 58ms/step
x    -3.214933
y     6.531189
dt       41.79
Name: 209, dtype: object
196
1/1 [==============================] - 0s 96ms/step
1/1 [==============================] - 0s 56ms/step
x    -5.866261
y     9.460587
dt       41.80
Name: 210, dtype: object
196
1/1 [==============================] - 0s 65ms/step
1/1 [==============================] - 0s 60ms/step
x     -2.561686
y     12.755054
dt        41.80
Name: 211, dtype: object
196
1/1 [==============================] - 0s 66ms/step
1/1 [==============================] - 0s 68ms/step
x     -4.417259
y     12.029577
dt        41.80
Name: 212, dtype: object
196
1/1 [==============================] - 0s 56ms/step
1/1 [==============================] - 0s 63ms/step
x    -4.723808
y     8.491753
dt       41.82
Name: 213, dtype: object
196
1/1 [==============================] - 0s 180ms/step
1/1 [==============================] - 0s 75ms/step
x    -4.311841
y      9.39254
dt       42.23
Name: 214, dtype: object
196
1/1 [==============================] - 0s 55ms/step
1/1 [==============================] - 0s 69ms/step
x     -5.562137
y     12.776505
dt        41.79
Name: 215, dtype: object
196
1/1 [==============================] - 0s 59ms/step
1/1 [==============================] - 0s 58ms/step
x     -7.838655
y     13.544169
dt        41.65
Name: 216, dtype: object
196
1/1 [==============================] - 0s 65ms/step
1/1 [==============================] - 0s 64ms/step
x    -3.963932
y     6.577729
dt       41.65
Name: 217, dtype: object
196
1/1 [==============================] - 0s 62ms/step
1/1 [==============================] - 0s 59ms/step
x     -8.083242
y     14.723247
dt        41.79
Name: 218, dtype: object
196
1/1 [==============================] - 0s 65ms/step
1/1 [==============================] - 0s 54ms/step
x     -6.579247
y     12.453323
dt        41.79
Name: 219, dtype: object
196
1/1 [==============================] - 0s 81ms/step
1/1 [==============================] - 0s 56ms/step
x     -3.990831
y     11.412427
dt        41.80
Name: 220, dtype: object
196
1/1 [==============================] - 0s 67ms/step
1/1 [==============================] - 0s 55ms/step
x     -1.761649
y     10.737331
dt        42.65
Name: 221, dtype: object
196
1/1 [==============================] - 0s 128ms/step
1/1 [==============================] - 0s 64ms/step
x    -2.304472
y      9.80847
dt       42.65
Name: 222, dtype: object
196
1/1 [==============================] - 0s 97ms/step
1/1 [==============================] - 0s 64ms/step

x     -3.974257
y     14.994987
dt        41.80
Name: 223, dtype: object
196
1/1 [==============================] - 0s 54ms/step
1/1 [==============================] - 0s 57ms/step
x     -2.005904
y     14.378058
dt        42.18
Name: 224, dtype: object
196
1/1 [==============================] - 0s 53ms/step
1/1 [==============================] - 0s 62ms/step
x    -2.34196
y     6.28285
dt      42.67
Name: 225, dtype: object
196
1/1 [==============================] - 0s 68ms/step
1/1 [==============================] - 0s 60ms/step
x    -1.737467
y     9.192221
dt       42.67
Name: 226, dtype: object
196
1/1 [==============================] - 0s 57ms/step
1/1 [==============================] - 0s 55ms/step
x     -1.495508
y     10.571625
dt        42.65
Name: 227, dtype: object
196
1/1 [==============================] - 0s 58ms/step
1/1 [==============================] - 0s 64ms/step
x     -1.284154
y     17.440754
dt        41.80
Name: 228, dtype: object
196
1/1 [==============================] - 0s 57ms/step
1/1 [==============================] - 0s 59ms/step
x    -1.492679
y     6.804051
dt       41.79
Name: 229, dtype: object
196
1/1 [==============================] - 0s 58ms/step
1/1 [==============================] - 0s 64ms/step
x    -3.011816
y      8.00899
dt       41.80
Name: 230, dtype: object
196
1/1 [==============================] - 0s 54ms/step
1/1 [==============================] - 0s 57ms/step
x    -2.151394
y     9.130424
dt       41.82
Name: 231, dtype: object
196
1/1 [==============================] - 0s 55ms/step
1/1 [==============================] - 0s 60ms/step
x     -3.027701
y     10.315451
dt        41.80
Name: 232, dtype: object
196
1/1 [==============================] - 0s 56ms/step
1/1 [==============================] - 0s 63ms/step
x    -0.067029
y     6.095753
dt       42.65
Name: 233, dtype: object
196
1/1 [==============================] - 0s 62ms/step
1/1 [==============================] - 0s 61ms/step
x    -2.077511
y     7.586332
dt       41.82
Name: 234, dtype: object
196
1/1 [==============================] - 0s 60ms/step
1/1 [==============================] - 0s 55ms/step
x     0.094676
y     9.271933
dt       42.23
Name: 235, dtype: object
196
1/1 [==============================] - 0s 64ms/step
1/1 [==============================] - 0s 56ms/step
x    -2.824903
y     8.883696
dt       41.77
Name: 236, dtype: object
196
1/1 [==============================] - 0s 61ms/step
1/1 [==============================] - 0s 56ms/step
x     -2.008396
y     12.093618
dt        41.80
Name: 237, dtype: object
196
1/1 [==============================] - 0s 126ms/step
1/1 [==============================] - 0s 59ms/step
x    -3.598547
y     7.625289
dt       41.79
Name: 238, dtype: object
196
1/1 [==============================] - 0s 101ms/step
1/1 [==============================] - 0s 73ms/step
x    -0.932189
y     8.444839
dt       42.21
Name: 239, dtype: object
196
1/1 [==============================] - 0s 61ms/step
1/1 [==============================] - 0s 60ms/step
x    -4.110734
y     12.24076
dt       42.65
Name: 240, dtype: object
196
1/1 [==============================] - 0s 66ms/step
1/1 [==============================] - 0s 57ms/step
x    -5.030626
y     9.257136
dt       42.50
Name: 241, dtype: object
196
1/1 [==============================] - 0s 62ms/step
1/1 [==============================] - 0s 56ms/step
x    -7.913379
y     8.125043
dt       41.79
Name: 242, dtype: object
196
1/1 [==============================] - 0s 65ms/step
1/1 [==============================] - 0s 59ms/step
x    -5.377196
y     5.927355
dt       41.80
Name: 243, dtype: object
196
1/1 [==============================] - 0s 69ms/step
1/1 [==============================] - 0s 55ms/step
x     -5.654058
y     17.203062
dt        41.80
Name: 244, dtype: object
196
1/1 [==============================] - 0s 62ms/step
1/1 [==============================] - 0s 55ms/step
x    -0.322514
y     7.465607
dt       41.80
Name: 245, dtype: object
196
1/1 [==============================] - 0s 130ms/step
1/1 [==============================] - 0s 56ms/step
x    -3.522775
y     8.011286
dt       42.67
Name: 246, dtype: object
196
1/1 [==============================] - 0s 62ms/step
1/1 [==============================] - 0s 59ms/step
x      -5.9067
y     9.287297
dt       42.52
Name: 247, dtype: object
196
1/1 [==============================] - 0s 58ms/step
1/1 [==============================] - 0s 67ms/step
x     -0.890512
y     10.040741
dt        41.65
Name: 248, dtype: object
196
1/1 [==============================] - 0s 57ms/step
1/1 [==============================] - 0s 62ms/step
x    -1.112186
y      6.60742
dt       42.23
Name: 249, dtype: object
196
1/1 [==============================] - 0s 56ms/step
1/1 [==============================] - 0s 78ms/step
x    -2.520257
y     8.188583
dt       41.79
Name: 250, dtype: object
196
1/1 [==============================] - 0s 56ms/step
1/1 [==============================] - 0s 72ms/step
x    -6.845201
y     11.73361
dt       41.51
Name: 251, dtype: object
196
1/1 [==============================] - 0s 64ms/step
1/1 [==============================] - 0s 66ms/step
x     -1.072871
y     10.800859
dt        42.65
Name: 252, dtype: object
196
1/1 [==============================] - 0s 53ms/step
1/1 [==============================] - 0s 63ms/step
x    -0.333472
y     9.086937
dt       42.65
Name: 253, dtype: object
196
1/1 [==============================] - 0s 59ms/step
1/1 [==============================] - 0s 61ms/step
x     -2.274056
y     12.366973
dt        41.80
Name: 254, dtype: object
196
1/1 [==============================] - 0s 54ms/step
1/1 [==============================] - 0s 70ms/step
x    -4.895502
y     9.318943
dt       43.06
Name: 255, dtype: object
196
1/1 [==============================] - 0s 55ms/step
1/1 [==============================] - 0s 71ms/step
x    -1.553162
y     9.897772
dt       41.79
Name: 256, dtype: object
196
1/1 [==============================] - 0s 56ms/step
1/1 [==============================] - 0s 68ms/step
x      0.448116
y     10.264074
dt        41.53
Name: 257, dtype: object
196
1/1 [==============================] - 0s 57ms/step
1/1 [==============================] - 0s 65ms/step
x     -5.897334
y     12.083164
dt        41.79
Name: 258, dtype: object
196
1/1 [==============================] - 0s 61ms/step
1/1 [==============================] - 0s 60ms/step
x     -5.201668
y     12.864913
dt        42.04
Name: 259, dtype: object
196
1/1 [==============================] - 0s 75ms/step
1/1 [==============================] - 0s 57ms/step
x    -2.138347
y     9.685449
dt       41.75
Name: 260, dtype: object
196
1/1 [==============================] - 0s 73ms/step
1/1 [==============================] - 0s 56ms/step
x     -0.42779
y     9.820055
dt       42.62
Name: 261, dtype: object
196
1/1 [==============================] - 0s 55ms/step
1/1 [==============================] - 0s 64ms/step
x    -1.413279
y     8.251474
dt       41.80
Name: 262, dtype: object
196
1/1 [==============================] - 0s 105ms/step
1/1 [==============================] - 0s 62ms/step
x     -1.45566
y     9.540861
dt       41.79
Name: 263, dtype: object
196
1/1 [==============================] - 0s 53ms/step
1/1 [==============================] - 0s 64ms/step
x      0.363198
y     13.952911
dt        41.79
Name: 264, dtype: object
196
1/1 [==============================] - 0s 54ms/step
1/1 [==============================] - 0s 68ms/step
x    -0.245076
y     7.329048
dt       42.02
Name: 265, dtype: object
196
1/1 [==============================] - 0s 64ms/step
1/1 [==============================] - 0s 61ms/step
x     -1.084644
y     13.878211
dt        42.06
Name: 266, dtype: object
196
1/1 [==============================] - 0s 57ms/step
1/1 [==============================] - 0s 66ms/step
x     -1.283744
y     10.590076
dt        43.04
Name: 267, dtype: object
196
1/1 [==============================] - 0s 63ms/step
1/1 [==============================] - 0s 55ms/step
x     -3.07912
y     8.779512
dt       41.79
Name: 268, dtype: object
196
1/1 [==============================] - 0s 67ms/step

1/1 [==============================] - 0s 58ms/step
x    -3.817384
y     6.102594
dt       42.18
Name: 269, dtype: object
196
1/1 [==============================] - 0s 59ms/step
1/1 [==============================] - 0s 61ms/step
x     -7.138535
y     12.347478
dt        42.19
Name: 270, dtype: object
196
1/1 [==============================] - 0s 132ms/step
1/1 [==============================] - 0s 64ms/step
x     -3.202512
y     10.420197
dt        41.80
Name: 271, dtype: object
196
1/1 [==============================] - 0s 58ms/step
1/1 [==============================] - 0s 68ms/step
x     0.708729
y     7.201517
dt       41.65
Name: 272, dtype: object
196
1/1 [==============================] - 0s 54ms/step
1/1 [==============================] - 0s 71ms/step
x    -5.862346
y     10.34532
dt       41.53
Name: 273, dtype: object
196
1/1 [==============================] - 0s 62ms/step
1/1 [==============================] - 0s 71ms/step
x    -6.991153
y      8.39152
dt       41.63
Name: 274, dtype: object
196
1/1 [==============================] - 0s 61ms/step
1/1 [==============================] - 0s 73ms/step
x     -2.304586
y     17.233429
dt        41.51
Name: 275, dtype: object
196
1/1 [==============================] - 0s 54ms/step
1/1 [==============================] - 0s 70ms/step
x    -2.628599
y     7.534862
dt       41.80
Name: 276, dtype: object
196
1/1 [==============================] - 0s 54ms/step
1/1 [==============================] - 0s 66ms/step
x    -0.719129
y     9.102051
dt       42.50
Name: 277, dtype: object
196
1/1 [==============================] - 0s 72ms/step
1/1 [==============================] - 0s 56ms/step
x    -3.217502
y     7.489144
dt       41.65
Name: 278, dtype: object
196
1/1 [==============================] - 0s 64ms/step
1/1 [==============================] - 0s 63ms/step
x     -5.70505
y     9.807384
dt       41.79
Name: 279, dtype: object
196
1/1 [==============================] - 0s 65ms/step
1/1 [==============================] - 0s 62ms/step
x     -1.918807
y     12.030991
dt        42.65
Name: 280, dtype: object
196
1/1 [==============================] - 0s 64ms/step
1/1 [==============================] - 0s 55ms/step
x    -2.547247
y     5.816333
dt       42.81
Name: 281, dtype: object
196
1/1 [==============================] - 0s 79ms/step
1/1 [==============================] - 0s 164ms/step
x     -7.931494
y     11.921288
dt        42.93
Name: 282, dtype: object
196
1/1 [==============================] - 0s 64ms/step
1/1 [==============================] - 0s 56ms/step
x    -3.849583
y     10.44478
dt       41.62
Name: 283, dtype: object
196
1/1 [==============================] - 0s 64ms/step
1/1 [==============================] - 0s 54ms/step
x    -0.108843
y     13.84431
dt       41.80
Name: 284, dtype: object
196
1/1 [==============================] - 0s 76ms/step
1/1 [==============================] - 0s 55ms/step
x    -3.968277
y     8.372271
dt       42.19
Name: 285, dtype: object
196
1/1 [==============================] - 0s 54ms/step
1/1 [==============================] - 0s 58ms/step
x    -3.757251
y     7.814165
dt       41.80
Name: 286, dtype: object
196
1/1 [==============================] - 0s 93ms/step
1/1 [==============================] - 0s 62ms/step
x    -3.622451
y     9.741216
dt       41.79
Name: 287, dtype: object
196
1/1 [==============================] - 0s 56ms/step
1/1 [==============================] - 0s 63ms/step
x     -0.041008
y     10.455572
dt        41.80
Name: 288, dtype: object
196
1/1 [==============================] - 0s 59ms/step
1/1 [==============================] - 0s 60ms/step
x     0.283512
y     9.414087
dt       43.06
Name: 289, dtype: object
196
1/1 [==============================] - 0s 65ms/step
1/1 [==============================] - 0s 57ms/step
x    -4.340986
y     8.379461
dt       41.79
Name: 290, dtype: object
196
1/1 [==============================] - 0s 60ms/step
1/1 [==============================] - 0s 53ms/step
x     -5.380391
y     10.768354
dt        42.93
Name: 291, dtype: object
196
1/1 [==============================] - 0s 58ms/step
1/1 [==============================] - 0s 63ms/step
x     -1.181985
y     10.317823
dt        41.79
Name: 292, dtype: object
196
1/1 [==============================] - 0s 68ms/step
1/1 [==============================] - 0s 55ms/step
x    -0.172948
y      5.83646
dt       41.80
Name: 293, dtype: object
196
1/1 [==============================] - 0s 60ms/step
1/1 [==============================] - 0s 56ms/step
x    -2.955268
y     7.691458
dt       41.53
Name: 294, dtype: object
196
1/1 [==============================] - 0s 179ms/step
1/1 [==============================] - 0s 82ms/step
x     -1.479605
y     11.533519
dt        41.97
Name: 295, dtype: object
196
1/1 [==============================] - 0s 251ms/step
1/1 [==============================] - 0s 81ms/step
x     -1.317371
y     11.296158
dt        41.80
Name: 296, dtype: object
196
1/1 [==============================] - 0s 157ms/step
1/1 [==============================] - 0s 69ms/step
x    -2.300121
y     7.901023
dt       41.80
Name: 297, dtype: object
196
1/1 [==============================] - 0s 64ms/step
1/1 [==============================] - 0s 416ms/step
x    -10.840375
y     13.580734
dt        41.63
Name: 298, dtype: object
196
1/1 [==============================] - 0s 111ms/step
1/1 [==============================] - 0s 64ms/step
x    -3.279522
y     9.594697
dt       41.82
Name: 299, dtype: object
196
1/1 [==============================] - 0s 63ms/step
1/1 [==============================] - 0s 70ms/step
x    -3.397224
y     8.704748
dt       42.60
Name: 300, dtype: object
196
1/1 [==============================] - 0s 56ms/step
1/1 [==============================] - 0s 61ms/step
x    -1.490768
y     6.323882
dt       42.67
Name: 301, dtype: object
196
1/1 [==============================] - 0s 65ms/step
1/1 [==============================] - 0s 54ms/step
x     -3.24704
y     10.72657
dt       41.77
Name: 302, dtype: object
196
1/1 [==============================] - 0s 64ms/step
1/1 [==============================] - 0s 80ms/step
x     -3.577474
y     15.828528
dt        41.80
Name: 303, dtype: object
196
1/1 [==============================] - 0s 81ms/step
1/1 [==============================] - 0s 74ms/step
x    -0.208044
y     8.803671
dt       42.64
Name: 304, dtype: object
196
1/1 [==============================] - 0s 65ms/step
1/1 [==============================] - 0s 73ms/step
x    -0.525991
y     5.946779
dt       41.79
Name: 305, dtype: object
196
1/1 [==============================] - 0s 68ms/step
1/1 [==============================] - 0s 72ms/step
x    -4.784692
y     8.604983
dt       43.08
Name: 306, dtype: object
196
1/1 [==============================] - 0s 55ms/step
1/1 [==============================] - 0s 61ms/step
x     -1.846918
y     10.421513
dt        42.06
Name: 307, dtype: object
196
1/1 [==============================] - 0s 60ms/step
1/1 [==============================] - 0s 56ms/step
x      0.749046
y     12.269139
dt        42.65
Name: 308, dtype: object
196
1/1 [==============================] - 0s 66ms/step
1/1 [==============================] - 0s 61ms/step
x     -1.22257
y     7.410825
dt       41.63
Name: 309, dtype: object
196
1/1 [==============================] - 0s 55ms/step
1/1 [==============================] - 0s 64ms/step
x      0.277677
y     10.859722
dt        42.21
Name: 310, dtype: object
196
1/1 [==============================] - 0s 59ms/step
1/1 [==============================] - 0s 65ms/step
x    -2.763929
y     11.59621
dt       42.94
Name: 311, dtype: object
196
1/1 [==============================] - 0s 66ms/step
1/1 [==============================] - 0s 69ms/step
x     -0.333371
y     11.620476
dt        41.75
Name: 312, dtype: object
196
1/1 [==============================] - 0s 61ms/step
1/1 [==============================] - 0s 67ms/step
x    -5.199629
y     10.62323
dt       42.47
Name: 313, dtype: object
196
1/1 [==============================] - 0s 53ms/step
1/1 [==============================] - 0s 73ms/step
x    -2.312528
y     6.817757
dt       41.77
Name: 314, dtype: object
196

1/1 [==============================] - 0s 55ms/step
1/1 [==============================] - 0s 69ms/step
x     -3.192324
y     15.133264
dt        41.74
Name: 315, dtype: object
196
1/1 [==============================] - 0s 54ms/step
1/1 [==============================] - 0s 64ms/step
x     -2.792209
y     11.926416
dt        41.77
Name: 316, dtype: object
196
1/1 [==============================] - 0s 53ms/step
1/1 [==============================] - 0s 64ms/step
x    -12.424423
y     11.988211
dt        41.50
Name: 317, dtype: object
196
1/1 [==============================] - 0s 55ms/step
1/1 [==============================] - 0s 68ms/step
x    -14.355407
y      15.33086
dt        41.74
Name: 318, dtype: object
196
1/1 [==============================] - 0s 59ms/step
1/1 [==============================] - 0s 58ms/step
x    -11.797382
y      20.33041
dt        31.74
Name: 319, dtype: object
196
1/1 [==============================] - 0s 55ms/step
1/1 [==============================] - 0s 62ms/step
x     -6.183436
y     13.515128
dt        68.46
Name: 320, dtype: object
196
1/1 [==============================] - 0s 55ms/step
1/1 [==============================] - 0s 70ms/step
x     -15.84026
y     12.364811
dt        66.40
Name: 321, dtype: object
196
1/1 [==============================] - 0s 65ms/step
1/1 [==============================] - 0s 60ms/step
x     -5.293892
y     10.817084
dt        67.06
Name: 322, dtype: object
196
1/1 [==============================] - 0s 55ms/step
1/1 [==============================] - 0s 56ms/step
x     -4.292514
y     12.776561
dt        66.78
Name: 323, dtype: object
196
1/1 [==============================] - 0s 63ms/step
1/1 [==============================] - 0s 67ms/step
x    -6.414793
y     9.812775
dt       67.91
Name: 324, dtype: object
196
1/1 [==============================] - 0s 64ms/step
1/1 [==============================] - 0s 69ms/step
x    -7.045483
y     9.254674
dt       86.60
Name: 325, dtype: object
196
1/1 [==============================] - 0s 96ms/step
196
1/1 [==============================] - 0s 57ms/step
196
1/1 [==============================] - 0s 58ms/step
1/1 [==============================] - 0s 61ms/step
x     186.257202
y      48.402699
dt         30.52
Name: 326, dtype: object
196
1/1 [==============================] - 0s 59ms/step
196
1/1 [==============================] - 0s 54ms/step
196
1/1 [==============================] - 0s 50ms/step
1/1 [==============================] - 0s 64ms/step
x    -12.24705
y     6.357136
dt       66.10
Name: 327, dtype: object
196
1/1 [==============================] - 0s 61ms/step
196
1/1 [==============================] - 0s 68ms/step
196
1/1 [==============================] - 0s 64ms/step
196
1/1 [==============================] - 0s 82ms/step
1/1 [==============================] - 0s 77ms/step
x    -12.413963
y     14.746827
dt       123.25
Name: 328, dtype: object
196
1/1 [==============================] - 0s 54ms/step
196
1/1 [==============================] - 0s 55ms/step
1/1 [==============================] - 0s 63ms/step
x      0.123143
y     14.582102
dt        36.60
Name: 329, dtype: object
196
1/1 [==============================] - 0s 59ms/step
196
1/1 [==============================] - 0s 61ms/step
196
1/1 [==============================] - 0s 52ms/step
1/1 [==============================] - 0s 61ms/step
x    -6.587831
y     9.405697
dt       23.19
Name: 330, dtype: object
196
1/1 [==============================] - 0s 55ms/step
196
1/1 [==============================] - 0s 56ms/step
196
1/1 [==============================] - 0s 60ms/step
196
1/1 [==============================] - 0s 56ms/step
1/1 [==============================] - 0s 56ms/step
x     -2.045944
y     16.865128
dt        18.45
Name: 331, dtype: object
196
1/1 [==============================] - 0s 54ms/step
196
1/1 [==============================] - 0s 54ms/step
196
1/1 [==============================] - 0s 54ms/step
196
1/1 [==============================] - 0s 55ms/step
196
1/1 [==============================] - 0s 63ms/step
196
1/1 [==============================] - 0s 67ms/step
196
1/1 [==============================] - 0s 54ms/step
1/1 [==============================] - 0s 59ms/step
x    -22.174742
y      18.01037
dt        63.07
Name: 332, dtype: object
196
1/1 [==============================] - 0s 57ms/step
196
1/1 [==============================] - 0s 60ms/step
196
1/1 [==============================] - 0s 96ms/step
1/1 [==============================] - 0s 59ms/step
x    -17.831615
y     15.822486
dt        65.45
Name: 333, dtype: object
196
1/1 [==============================] - 0s 56ms/step
196
1/1 [==============================] - 0s 57ms/step
1/1 [==============================] - 0s 63ms/step
x    -11.125586
y     16.704372
dt       105.74
Name: 334, dtype: object
196
1/1 [==============================] - 0s 103ms/step
1/1 [==============================] - 0s 56ms/step
x    -21.460735
y      3.916851
dt        25.70
Name: 335, dtype: object
196
1/1 [==============================] - 0s 58ms/step
1/1 [==============================] - 0s 57ms/step
x    -31.358473
y     18.677406
dt       149.06
Name: 336, dtype: object
196
1/1 [==============================] - 0s 53ms/step
196
1/1 [==============================] - 0s 55ms/step
1/1 [==============================] - 0s 65ms/step
x     3.223488
y     9.648748
dt      151.22
Name: 337, dtype: object
196
1/1 [==============================] - 0s 60ms/step
1/1 [==============================] - 0s 55ms/step
x    -10.423417
y      6.698131
dt        73.10
Name: 338, dtype: object
196
1/1 [==============================] - 0s 63ms/step
196
1/1 [==============================] - 0s 60ms/step
1/1 [==============================] - 0s 56ms/step
x     -30.94488
y     13.942983
dt       158.46
Name: 339, dtype: object
196
1/1 [==============================] - 0s 161ms/step
196
1/1 [==============================] - 0s 57ms/step
196
1/1 [==============================] - 0s 56ms/step
1/1 [==============================] - 0s 66ms/step
x      4.468122
y     10.992893
dt        34.12
Name: 340, dtype: object
196
1/1 [==============================] - 0s 56ms/step
196
1/1 [==============================] - 0s 51ms/step
196
1/1 [==============================] - 0s 70ms/step
196
1/1 [==============================] - 0s 69ms/step
196
1/1 [==============================] - 0s 64ms/step
1/1 [==============================] - 0s 56ms/step
x    -7.724505
y     9.210554
dt       18.60
Name: 341, dtype: object
196
1/1 [==============================] - 0s 66ms/step
1/1 [==============================] - 0s 55ms/step
x      1.34523
y     6.839598
dt       18.22
Name: 342, dtype: object
196
1/1 [==============================] - 0s 67ms/step
1/1 [==============================] - 0s 55ms/step
x    -4.329977
y     5.041142
dt       24.17
Name: 343, dtype: object
196
1/1 [==============================] - 0s 74ms/step
1/1 [==============================] - 0s 61ms/step
x    -21.282944
y     10.389881
dt        48.52
Name: 344, dtype: object
196
1/1 [==============================] - 0s 74ms/step
196
1/1 [==============================] - 0s 56ms/step
196
1/1 [==============================] - 0s 54ms/step
1/1 [==============================] - 0s 63ms/step
x     10.785026
y     14.174074
dt        47.55
Name: 345, dtype: object
196
1/1 [==============================] - 0s 68ms/step
196
1/1 [==============================] - 0s 54ms/step
196
1/1 [==============================] - 0s 56ms/step
1/1 [==============================] - 0s 68ms/step
x    -6.202885
y     8.917214
dt       45.29
Name: 346, dtype: object
196
1/1 [==============================] - 0s 74ms/step
196
1/1 [==============================] - 0s 55ms/step
196
1/1 [==============================] - 0s 55ms/step
196
1/1 [==============================] - 0s 56ms/step
196
1/1 [==============================] - 0s 54ms/step
196
1/1 [==============================] - 0s 53ms/step
196
1/1 [==============================] - 0s 64ms/step
196
1/1 [==============================] - 0s 60ms/step
196
1/1 [==============================] - 0s 56ms/step
196

1/1 [==============================] - 0s 55ms/step
196
1/1 [==============================] - 0s 55ms/step
196
1/1 [==============================] - 0s 53ms/step
1/1 [==============================] - 0s 74ms/step
x     10.033355
y      12.69606
dt        10.46
Name: 347, dtype: object
196
1/1 [==============================] - 0s 56ms/step
196
1/1 [==============================] - 0s 71ms/step
196
1/1 [==============================] - 0s 60ms/step
1/1 [==============================] - 0s 57ms/step
x    -6.775893
y     10.16622
dt       83.81
Name: 348, dtype: object
196
1/1 [==============================] - 0s 53ms/step
1/1 [==============================] - 0s 60ms/step
x     -0.845965
y     10.094148
dt        63.92
Name: 349, dtype: object
196
1/1 [==============================] - 0s 71ms/step
1/1 [==============================] - 0s 56ms/step
x    -6.889402
y     5.923903
dt       16.73
Name: 350, dtype: object
196
1/1 [==============================] - 0s 61ms/step
196
1/1 [==============================] - 0s 69ms/step
196
1/1 [==============================] - 0s 54ms/step
196
1/1 [==============================] - 0s 54ms/step
196
1/1 [==============================] - 0s 83ms/step
196
1/1 [==============================] - 0s 61ms/step
1/1 [==============================] - 0s 63ms/step
x     -2.763186
y     15.825771
dt        19.13
Name: 351, dtype: object
196
1/1 [==============================] - 0s 53ms/step
196
1/1 [==============================] - 0s 52ms/step
196
1/1 [==============================] - 0s 80ms/step
196
1/1 [==============================] - 0s 60ms/step
196
1/1 [==============================] - 0s 64ms/step
196
1/1 [==============================] - 0s 67ms/step
196
1/1 [==============================] - 0s 67ms/step
196
1/1 [==============================] - 0s 52ms/step
196
1/1 [==============================] - 0s 65ms/step
1/1 [==============================] - 0s 62ms/step
x     6.359773
y     5.923513
dt       35.51
Name: 352, dtype: object
196
1/1 [==============================] - 0s 55ms/step
196
1/1 [==============================] - 0s 55ms/step
196
1/1 [==============================] - 0s 58ms/step
196
1/1 [==============================] - 0s 65ms/step
196
1/1 [==============================] - 0s 54ms/step
196
1/1 [==============================] - 0s 60ms/step
196
1/1 [==============================] - 0s 63ms/step
196
1/1 [==============================] - 0s 80ms/step
1/1 [==============================] - 0s 59ms/step
x     32.041763
y     27.206711
dt        16.23
Name: 353, dtype: object
196
1/1 [==============================] - 0s 56ms/step
1/1 [==============================] - 0s 61ms/step
x    -16.263847
y      13.99133
dt        78.73
Name: 354, dtype: object
196
1/1 [==============================] - 0s 53ms/step
196
1/1 [==============================] - 0s 56ms/step
196
1/1 [==============================] - 0s 55ms/step
196
1/1 [==============================] - 0s 61ms/step
1/1 [==============================] - 0s 59ms/step
x       6.19062
y     12.287525
dt        21.66
Name: 355, dtype: object
196
1/1 [==============================] - 0s 70ms/step
196
1/1 [==============================] - 0s 62ms/step
196
1/1 [==============================] - 0s 64ms/step
196
1/1 [==============================] - 0s 66ms/step
1/1 [==============================] - 0s 54ms/step
x    -10.588272
y      5.279235
dt        37.23
Name: 356, dtype: object
196
1/1 [==============================] - 0s 324ms/step
1/1 [==============================] - 0s 71ms/step
x    -13.189089
y     20.317131
dt        52.82
Name: 357, dtype: object
196
1/1 [==============================] - 0s 65ms/step
196
1/1 [==============================] - 0s 57ms/step
196
1/1 [==============================] - 0s 57ms/step
1/1 [==============================] - 0s 67ms/step
x     44.607899
y     26.877422
dt        31.94
Name: 358, dtype: object
196
1/1 [==============================] - 0s 59ms/step
1/1 [==============================] - 0s 59ms/step
x    -1.549675
y     6.746525
dt       46.36
Name: 359, dtype: object
196
1/1 [==============================] - 0s 60ms/step
196
1/1 [==============================] - 0s 61ms/step
196
1/1 [==============================] - 0s 59ms/step
1/1 [==============================] - 0s 57ms/step
x    -6.497932
y     7.114513
dt       56.76
Name: 360, dtype: object
196
1/1 [==============================] - 0s 79ms/step
1/1 [==============================] - 0s 57ms/step
x    -8.707428
y     -1.47047
dt       57.41
Name: 361, dtype: object
196
1/1 [==============================] - 0s 67ms/step
196
1/1 [==============================] - 0s 68ms/step
196
1/1 [==============================] - 0s 52ms/step
196
1/1 [==============================] - 0s 55ms/step
196
1/1 [==============================] - 0s 69ms/step
1/1 [==============================] - 0s 55ms/step
x    -12.392332
y     10.799999
dt        72.98
Name: 362, dtype: object
196
1/1 [==============================] - 0s 54ms/step
1/1 [==============================] - 0s 72ms/step
x      0.762891
y     10.389894
dt        74.73
Name: 363, dtype: object
196
1/1 [==============================] - 0s 52ms/step
196
1/1 [==============================] - 0s 53ms/step
1/1 [==============================] - 0s 61ms/step
x     -7.300856
y     11.923472
dt         9.74
Name: 364, dtype: object
196
1/1 [==============================] - 0s 62ms/step
1/1 [==============================] - 0s 57ms/step
x    -50.227715
y     46.290428
dt         7.04
Name: 365, dtype: object
196
1/1 [==============================] - 0s 65ms/step
196
1/1 [==============================] - 0s 60ms/step
196
1/1 [==============================] - 0s 63ms/step
196
1/1 [==============================] - 0s 59ms/step
1/1 [==============================] - 0s 54ms/step
x    -18.798534
y      1.235742
dt        54.16
Name: 366, dtype: object
196
1/1 [==============================] - 0s 62ms/step
196
1/1 [==============================] - 0s 64ms/step
1/1 [==============================] - 0s 58ms/step
x     -6.777103
y     10.193928
dt        61.49
Name: 367, dtype: object
196
1/1 [==============================] - 0s 56ms/step
1/1 [==============================] - 0s 63ms/step
x    -17.33951
y     4.507132
dt       61.47
Name: 368, dtype: object
196
1/1 [==============================] - 0s 59ms/step
1/1 [==============================] - 0s 56ms/step
x    -19.231812
y      9.476739
dt        61.35
Name: 369, dtype: object
196
1/1 [==============================] - 0s 55ms/step
196
1/1 [==============================] - 0s 60ms/step
196
1/1 [==============================] - 0s 61ms/step
196
1/1 [==============================] - 0s 65ms/step
196
1/1 [==============================] - 0s 52ms/step
196
1/1 [==============================] - 0s 54ms/step
196
1/1 [==============================] - 0s 56ms/step
1/1 [==============================] - 0s 57ms/step
x    -9.294775
y     4.977284
dt       12.90
Name: 370, dtype: object
196
1/1 [==============================] - 0s 101ms/step
196
1/1 [==============================] - 0s 66ms/step
196
1/1 [==============================] - 0s 67ms/step
1/1 [==============================] - 0s 64ms/step
x    -11.143629
y      6.293491
dt        57.38
Name: 371, dtype: object
196
1/1 [==============================] - 0s 56ms/step
1/1 [==============================] - 0s 104ms/step
x     -6.920001
y     11.307989
dt        67.81
Name: 372, dtype: object
196
1/1 [==============================] - 0s 104ms/step
196
1/1 [==============================] - 0s 55ms/step
196
1/1 [==============================] - 0s 53ms/step
1/1 [==============================] - 0s 65ms/step
x    -14.001452
y     12.518202
dt        25.59
Name: 373, dtype: object
196
1/1 [==============================] - 0s 54ms/step
1/1 [==============================] - 0s 64ms/step
x    -4.367972
y     7.843711
dt       19.57
Name: 374, dtype: object
196
1/1 [==============================] - 0s 65ms/step
196
1/1 [==============================] - 0s 70ms/step
196
1/1 [==============================] - 0s 112ms/step
196

1/1 [==============================] - 0s 53ms/step
196
1/1 [==============================] - 0s 56ms/step
1/1 [==============================] - 0s 65ms/step
x      0.052041
y     15.873295
dt        20.13
Name: 375, dtype: object
196
1/1 [==============================] - 0s 61ms/step
1/1 [==============================] - 0s 54ms/step
x     12.619855
y      2.615889
dt        19.40
Name: 376, dtype: object
196
1/1 [==============================] - 0s 63ms/step
1/1 [==============================] - 0s 55ms/step
x    -1.021069
y     5.112644
dt       25.18
Name: 377, dtype: object
196
1/1 [==============================] - 0s 155ms/step
196
1/1 [==============================] - 0s 60ms/step
196
1/1 [==============================] - 0s 59ms/step
196
1/1 [==============================] - 0s 69ms/step
1/1 [==============================] - 0s 55ms/step
x    -9.402839
y      9.55464
dt       31.93
Name: 378, dtype: object
196
1/1 [==============================] - 0s 58ms/step
196
1/1 [==============================] - 0s 55ms/step
196
1/1 [==============================] - 0s 59ms/step
196
1/1 [==============================] - 0s 57ms/step
196
1/1 [==============================] - 0s 62ms/step
196
1/1 [==============================] - 0s 62ms/step
196
1/1 [==============================] - 0s 60ms/step
196
1/1 [==============================] - 0s 62ms/step
196
1/1 [==============================] - 0s 67ms/step
196
1/1 [==============================] - 0s 72ms/step
1/1 [==============================] - 0s 55ms/step
x    -28.456827
y     18.218281
dt        56.15
Name: 379, dtype: object
196
1/1 [==============================] - 0s 114ms/step
1/1 [==============================] - 0s 55ms/step
x    -11.484343
y      7.116856
dt        66.01
Name: 380, dtype: object
196
1/1 [==============================] - 0s 68ms/step
196
1/1 [==============================] - 0s 56ms/step
196
1/1 [==============================] - 0s 55ms/step
1/1 [==============================] - 0s 81ms/step
x     -8.965494
y     15.754341
dt        17.19
Name: 381, dtype: object
196
1/1 [==============================] - 0s 65ms/step
196
1/1 [==============================] - 0s 54ms/step
196
1/1 [==============================] - 0s 53ms/step
196
1/1 [==============================] - 0s 50ms/step
196
1/1 [==============================] - 0s 56ms/step
196
1/1 [==============================] - 0s 53ms/step
196
1/1 [==============================] - 0s 67ms/step
1/1 [==============================] - 0s 54ms/step
x    -17.342741
y      6.248178
dt        78.18
Name: 382, dtype: object
196
1/1 [==============================] - 0s 55ms/step
196
1/1 [==============================] - 0s 54ms/step
196
1/1 [==============================] - 0s 63ms/step
1/1 [==============================] - 0s 56ms/step
x     -44.38409
y     21.379429
dt        75.00
Name: 383, dtype: object
196
1/1 [==============================] - 0s 53ms/step
1/1 [==============================] - 0s 68ms/step
x    -12.250551
y     10.736154
dt        75.45
Name: 384, dtype: object
196
1/1 [==============================] - 0s 59ms/step
196
1/1 [==============================] - 0s 52ms/step
1/1 [==============================] - 0s 67ms/step
x    -10.657586
y     13.313726
dt        24.33
Name: 385, dtype: object
196
1/1 [==============================] - 0s 59ms/step
196
1/1 [==============================] - 0s 61ms/step
1/1 [==============================] - 0s 56ms/step
x     -8.881394
y     16.681479
dt        27.56
Name: 386, dtype: object
196
1/1 [==============================] - 0s 100ms/step
196
1/1 [==============================] - 0s 58ms/step
196
1/1 [==============================] - 0s 64ms/step
196
1/1 [==============================] - 0s 54ms/step
196
1/1 [==============================] - 0s 53ms/step
1/1 [==============================] - 0s 62ms/step
x    -0.144267
y     5.478738
dt       44.17
Name: 387, dtype: object
196
1/1 [==============================] - 0s 61ms/step
1/1 [==============================] - 0s 58ms/step
x     2.044837
y     9.315193
dt       49.42
Name: 388, dtype: object
196
1/1 [==============================] - 0s 52ms/step
1/1 [==============================] - 0s 68ms/step
x     0.675512
y     7.518678
dt       29.89
Name: 389, dtype: object
196
1/1 [==============================] - 0s 65ms/step
196
1/1 [==============================] - 0s 59ms/step
196
1/1 [==============================] - 0s 73ms/step
196
1/1 [==============================] - 0s 92ms/step
196
1/1 [==============================] - 0s 58ms/step
196
1/1 [==============================] - 0s 65ms/step
1/1 [==============================] - 0s 60ms/step
x     95.752205
y     31.383381
dt        60.78
Name: 390, dtype: object
196
1/1 [==============================] - 0s 57ms/step
196
1/1 [==============================] - 0s 54ms/step
196
1/1 [==============================] - 0s 56ms/step
1/1 [==============================] - 0s 64ms/step
x    -8.860812
y      7.64837
dt       32.67
Name: 391, dtype: object
196
1/1 [==============================] - 0s 53ms/step
196
1/1 [==============================] - 0s 56ms/step
1/1 [==============================] - 0s 63ms/step
x      3.345832
y     13.583482
dt        19.04
Name: 392, dtype: object
196
1/1 [==============================] - 0s 99ms/step
1/1 [==============================] - 0s 65ms/step
x     -8.488648
y     11.783345
dt        24.70
Name: 393, dtype: object
196
1/1 [==============================] - 0s 56ms/step
1/1 [==============================] - 0s 101ms/step
x    -6.177313
y     1.673734
dt       37.25
Name: 394, dtype: object
196
1/1 [==============================] - 0s 54ms/step
196
1/1 [==============================] - 0s 57ms/step
196
1/1 [==============================] - 0s 60ms/step
196
1/1 [==============================] - 0s 53ms/step
1/1 [==============================] - 0s 70ms/step
x    -3.962014
y      9.49402
dt       77.83
Name: 395, dtype: object
196
1/1 [==============================] - 0s 76ms/step
1/1 [==============================] - 0s 57ms/step
x    -22.147715
y     16.741085
dt        75.36
Name: 396, dtype: object
196
1/1 [==============================] - 0s 58ms/step
196
1/1 [==============================] - 0s 55ms/step
196
1/1 [==============================] - 0s 51ms/step
196
1/1 [==============================] - 0s 65ms/step
1/1 [==============================] - 0s 57ms/step
x     73.391624
y     20.218933
dt        25.53
Name: 397, dtype: object
196
1/1 [==============================] - 0s 66ms/step
196
1/1 [==============================] - 0s 61ms/step
196
1/1 [==============================] - 0s 69ms/step
196
1/1 [==============================] - 0s 62ms/step
196
1/1 [==============================] - 0s 70ms/step
196
1/1 [==============================] - 0s 54ms/step
196
1/1 [==============================] - 0s 55ms/step
196
1/1 [==============================] - 0s 55ms/step
1/1 [==============================] - 0s 61ms/step
x    -12.829858
y     15.395073
dt        25.13
Name: 398, dtype: object
196
1/1 [==============================] - 0s 56ms/step
196
1/1 [==============================] - 0s 56ms/step
196
1/1 [==============================] - 0s 54ms/step
196
1/1 [==============================] - 0s 66ms/step
196
1/1 [==============================] - 0s 60ms/step
196
1/1 [==============================] - 0s 54ms/step
1/1 [==============================] - 0s 64ms/step
x    -2.852576
y     7.861405
dt       32.90
Name: 399, dtype: object
196
1/1 [==============================] - 0s 66ms/step
1/1 [==============================] - 0s 66ms/step
x    -19.675911
y      15.56185
dt        31.33
Name: 400, dtype: object
196
1/1 [==============================] - 0s 56ms/step
196
1/1 [==============================] - 0s 53ms/step
196
1/1 [==============================] - 0s 52ms/step
1/1 [==============================] - 0s 62ms/step
x    -13.288309
y       6.52294
dt        51.78
Name: 401, dtype: object
196
1/1 [==============================] - 0s 58ms/step
1/1 [==============================] - 0s 68ms/step
x     -5.37443
y     5.958374
dt       51.65
Name: 402, dtype: object

196
1/1 [==============================] - 0s 56ms/step
1/1 [==============================] - 0s 66ms/step
x    -25.218254
y     13.875379
dt        10.40
Name: 403, dtype: object
196
1/1 [==============================] - 0s 59ms/step
1/1 [==============================] - 0s 61ms/step
x     34.602913
y      5.347653
dt        10.81
Name: 404, dtype: object
196
1/1 [==============================] - 0s 61ms/step

SerialException: ClearCommError failed (PermissionError(13, '장치가 명령을 인식하지 않습니다.', None, 22))

In [ ]:
ser.close()